[alias]
	# branch
	br = branch
	# checkout
	co = checkout
	# commit
	amend = commit --amend --no-edit
	amendx = commit --amend --no-edit --reset-author
	ca = commit --amend
	ci = commit
	# diff
	d = diff
	dc = diff --cached
	ds = diff --staged
	dw = diff --color-words
	# diff
	p = pull --rebase
	# status
	st = status --branch --short
[core]
	excludesfile = ~/.gitignore_global
[include]
	path = .gitconfig_local
[grep]
	linenumber = true
[push]
	default = simple
[rerere]
	enabled = true
