[alias]
	# add
	a = add .
	aa = add -A
	# branch
	br = branch
	# checkout
	co = checkout
	# clone
	cl = clone
	clr = clone --recursive
	# commit
	amend = commit --amend --no-edit
	amendx = commit --amend --no-edit --reset-author
	ca = commit --amend
	ci = commit
	cm = commit -m
	first-commit = commit -m 'Initial commit'
	# daemon
	serve = daemon --base-path=. --export-all --reuseaddr --verbose
	# diff
	d = diff
	dc = diff --cached
	ds = diff --staged
	dw = diff --color-words
	# grep
	todo = grep --break --heading -e ' FIXME *' -e ' TODO *' -e ' XXX *'
	# ls-files
	ls-ignored = ls-files --others -i --exclude-standard
	# log
	log-graph = log --all --decorate --graph
	log-refs = log --all --decorate --graph --no-merges --oneline --simplify-by-decoration
	log-tree = log --abbrev-commit --all --decorate --graph --pretty=oneline
	# merge
	m = merge --ff-only
	mm = merge
	mn = merge --no-ff
	# pull
	p = pull --rebase --stat
	# rebase
	rebasex = rebase --committer-date-is-author-date --ignore-date
	rebase-author = rebase --ignore-date --interactive --exec \"git commit --amend --reset-author --no-edit\"
	# remote
	rup = remote update
	# rev-list
	root-commits = rev-list --max-parents=0 HEAD
	# shortlog
	rank = shortlog --no-merges --numbered --summary
	# status
	st = status --branch --short
	# submodule
	sub = submodule
	suba = submodule add
	subf = submodule foreach
	subst = submodule status
	subup = submodule update --init --recursive
	# update-index
	assume = update-index --assume-unchanged
	unassume = update-index --no-assume-unchanged
	# snippets
	assumed = "!git ls-files -v | grep ^h | cut -c 3-"
	exclude = !sh -c 'echo "$1" >> .git/info/exclude' -
	count-lines = "!git ls-files -z | xargs -0 wc -l"
	rebm = !sh -c 'git checkout "$1" && git rebase master' -
	trash = "!git add . && git commit -m 'trash' && git reset --hard HEAD^"
	unassume-all = "!git assumed | xargs git unassume"
	# typo
	grp = grep
	greo = grep
[color]
	ui = true
[color "diff"]
	meta = yellow
	frag = magenta
	old = red
	whitespace = red reverse
[commit]
	template = ~/.gitmessage
[core]
	excludesfile = ~/.gitignore_global
	whitespace = -indent-with-non-tab,trailing-space,cr-at-eol,tab-in-indent
[format]
	pretty = fuller
[grep]
	linenumber = true
[include]
	path = .gitconfig_local
[push]
	default = simple
[rebase]
	stat = true
[rerere]
	enabled = true
[tig]
	mouse = yes
