"*":
  core:
    automaticallyUpdate: false
    disabledPackages: [
      "exception-reporting"
      "feedback"
      "metrics"
      "welcome"
    ]
  editor:
    showInvisibles: true
    showIndentGuide: true
  pigments:
    markerType: "dot"
